:host{
  width: 80%;
}
section{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto ;
    gap: 10px;
}
table {
    background-color: #4b4a4a;
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    padding: 12px 15px;
    text-align: center;
    font-size: 16px;
    color: white;
  }
  
  th {
    background-color: #3d3d3d;
    color: white;
    font-weight: bold;
  }
  
  tr{
    background-color: transparent;
  }
  

  
  td {
    border-bottom: 1px solid #ddd;
  }
  
  tbody tr:last-child td {
    border-bottom: none;
  }

  section button{
    width: fit-content;
    display: inline-block;
    padding: 0.4rem 0.9rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    background-color: #0d7912;
    color: white;
    border: none;
    align-self: flex-end;
    
  }

  button:hover{
    cursor: pointer;
    background-color: #0a5f0f;
  }