<div class="backDrop" (click)="onClose()"></div>
<dialog open="true">
  <form [formGroup]="expenseForm" #form>
    <h2>Add Expense</h2>
    <div class="input-group">
      
      <p>
        <label for="value">Value</label>
        <input id="value" required name="value" type="number" formControlName="value" />
      </p>
  
      <p>
        <label for="type">Type</label>
        <select
          id="type"
          name="type"
          required
          formControlName="type"
        >
        @for (item of expenseTypeList; track $index) {
          <option [value]="item">{{item}}</option>
        }
      </select>
      </p>
    </div>
    
    <p>
      <label for="reason">Reason</label>
      <textarea
        id="reason"
        required
        name="reason"
        formControlName="reason"
      ></textarea>
    </p>

    <p>
      <label for="date">Date</label>
      <input id="date" name="date" required type="date" formControlName="date" />
    </p>

    <p class="actions">
      <button class="submit" (click)="onSubmit()">Save</button>
      <button (click)="onClose()">Close</button>
    </p>
  </form>
</dialog>
